
<span class="comeing_avt">
<!--{if $_G['uid']}-->
    <a href="home.php?mod=space&uid=$_G[uid]" id="huser" onMouseOver="showMenu({'ctrlid':'huser','pos':'34!','ctrlclass':'a','duration':2});"><!--{avatar($_G[uid],middle)}--></a>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
    <img src="{IMGDIR}/tavatar.gif"/>
<!--{elseif !$_G[connectguest]}-->
    <img src="{IMGDIR}/tavatar.gif"/>
<!--{else}-->
    <!--{avatar(0,middle)}-->
<!--{/if}-->
</span>
<!--{if $_G['uid']}-->
	<span class="user"><a href="home.php?mod=space&uid=$_G[uid]">{$_G[member][username]}</a></span>
    <!--{if empty($_G['disabledwidthauto']) && $_G['setting']['switchwidthauto']}-->
    <span class="pipe">|</span><a href="javascript:;" id="switchwidth" onClick="widthauto(this)" title="{if widthauto()}{lang switch_narrow}{else}{lang switch_wide}{/if}"><!--{if widthauto()}-->{lang switch_narrow}<!--{else}-->{lang switch_wide}<!--{/if}--></a>
    <!--{/if}-->
    <!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}--><span class="pipe">|</span><a id="sslct" href="javascript:;" onMouseOver="showMenu({'ctrlid':'sslct','pos':'34!','ctrlclass':'a','duration':2});">{lang changestyle}</a><!--{/if}-->
    <span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
    <a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a>
    <span class="pipe">|</span><a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang activation}</a>
    <span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
<!--{elseif !$_G[connectguest]}-->
    <a href="member.php?mod=logging&amp;action=login" class="login" onClick="showWindow('login', this.href)" >Sign in</a>
    <span class="pipe">|</span>
    <a href="member.php?mod=register" >Sign out</a>
<!--{else}-->
    <span class="user">{$_G[member][username]}</span>
    <!--{hook/global_usernav_extra1}-->
    <span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
<!--{/if}-->
