<!--{template common/header}-->
  <div id="index">
    <div id="right">
      <div class="container" id="idContainer">
        <table id="idSlider" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="images/01.jpg"><img src="./template/default/common/images/01.jpg"/></a></td>
            <td><a href="images/02.jpg"><img src="./template/default/common/images/02.jpg"/></a></td>
            <td><a href="images/03.jpg"><img src="./template/default/common/images/03.jpg"/></a></td>
          </tr>
        </table>
      </div>
      <script>
      new SlideTrans("idContainer", "idSlider", 3, { Vertical: false }).Run();
      </script>
      <div class="right1">
        <div class="load">
          <div id="notice">
            <span  class="sub1">11111111</span>
            <div class="my_notice">
              <ul>   
                <li><a href="/content/content.php?p=10_21_363" title="北京邮电大学本科生选课申请单">2222222222222222</a></li>         
                <li><a href="/content/content.php?p=10_21_330" title="北京邮电大学选修辅修专业课程登记表">2222222222222222</a></li>         
                <li><a href="/content/content.php?p=10_21_325" title="“爱课堂”教学平台安卓手机客户端">2222222222222222</a></li>         
                <li><a href="/content/content.php?p=10_21_232" title="北京邮电大学本科生缓考审批表">2222222222222222</a></li>         
                <li><a href="/content/content.php?p=10_21_218" title="北京邮电大学本科生竞赛获奖证明">2222222222222222</a></li>         
                <li><a href="/content/content.php?p=10_21_192" title="学生免修或替代实践环节申请表">2222222222222222</a></li>
              </ul>
            </div>
            <div class="more"><a href="http://www.baidu.com">更多>></a></div>
          </div>
          <div id="notice1">
            <span  class="sub1">11111111</span>
            <div class="my_notice">
              <ul>   
                <li><a href="/content/content.php?p=10_20_374" title="试卷格式：试卷与答卷合一形式（竖）">2222222222222222</a></li>              
                <li><a href="/content/content.php?p=10_20_373" title="试题格式：试题与答卷合一形式（横）">2222222222222222</a></li>              
                <li><a href="/content/content.php?p=10_20_372" title="试卷格式：试题与答卷分开形式（竖）">2222222222222222</a></li>              
                <li><a href="/content/content.php?p=10_20_371" title="试题格式：试题与答卷分开形式（横）">2222222222222222</a></li>              
                <li><a href="/content/content.php?p=10_20_370" title="北京邮电大学学生违纪情况说明">2222222222222222</a></li>              
                <li><a href="/content/content.php?p=10_20_369" title="北京邮电大学期末考试非闭卷方式申请表">2222222222222222</a></li>
              </ul>
             </div>
            <div class="more"><a href="/list/list.php?p=10_20_1">更多>></a></div>
          </div>
        </div>     
        <div id="new"> 
          <span  class="sub1">11111111</span>                               
          <div class="my_notice">
          <ul>   
<li><a href="/content/content.php?p=10_1_348" title="北京邮电大学2014年教学工"><span class="date">[12-09]</span>2222222222222222</a></li>    
<li><a href="/content/content.php?p=10_1_347" title="北京邮电大学召开2014年教"><span class="date">[12-09]</span>2222222222222222</a></li>          
<li><a href="/content/content.php?p=10_1_346" title="郭军副校长一行赴电子工程"><span class="date">[11-03]</span>2222222222222222</a></li>               
<li><a href="/content/content.php?p=10_1_345" title="郭军副校长莅临计算机学院进行本科"><span class="date">[10-29]</span>2222222222222222</a></li>          
<li><a href="/content/content.php?p=10_1_344" title="郭军副校长一行赴马研中心（公管学院）开展"><span class="date">[10-29]</span>2222222222222222</a></li>
<li><a href="/content/content.php?p=10_1_340" title="我校2项教学成果喜获2014年国家级教学成果奖"><span class="date">[10-13]</span>2222222222222222</a></li>
</ul>                                                   
</div>
<div class="more"><a href="/list/list.php?p=10_1_1">更多>></a></div>
</div>
</div>
</div>
</div>
<!--{template common/footer}-->
